html {
    font-size: 12px;
    scroll-behavior: smooth;
    @media (min-width: 400px) {
        font-size: 13.2px;
    }

    @include media-tablet {
        font-size: 12px;
    }

    @include media-desktop {
        font-size: 12px;
    }

    @media (min-width: $maxRems) {
        font-size: 14.4px;
    }
}

body {
    position: relative;
    font-size: toRem(14);
    -webkit-font-smoothing: antialiased;
    color: $surface;
    font-family: $fontFamily, -apple-system, system-ui, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
    background-color: $dark; //-webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

img {
    height: auto;
    width: auto;
}

.container {
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    max-width: toRem(1200);
    padding-left: 6.25%;
    padding-right: 6.25%;
    @media (min-width: 768px) {
        padding-right: 5.58%;
        padding-left: 5.58%;
    }
    @media (min-width: 1200px) {
        padding-right: toRem(84);
        padding-left: toRem(84);
    }
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.button,
button {
    border: none;
    cursor: pointer;
    font-family: $fontFamily, -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica', 'Arial', 'sans-serif';
    background: none;
    padding: 0;
    margin: 0;
    overflow: visible;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    text-align: center;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

[data-src] {
    transition: opacity 0.3s ease;
    opacity: 0;
    will-change: transform, opacity;
}

.lazyload {
    opacity: 0;
    will-change: transform, opacity;
}

.lazyloaded {
    opacity: 1;
}

.hidden{
    display: none!important;
}

.hidden-mobile {
    @include media-maxMobile{
        display: none!important;
    }
}

.hidden-mobile-late {
    @include media-maxMobileLate{
        display: none!important;
    }
}

.hidden-tablet {
    @include media-maxTablet{
        display: none!important;
    }
}

.hidden-desktop {
    @include media-desktop{
        display: none!important;
    }
}

.show-mobile {
    display: none!important;
    @include media-maxMobile {
        display: block!important;
    }
}
