include ../../components/Collapse/Collapse

mixin Questions
    section(
        id="questions"
    ).questions
        .__container.container
            +TheText(
                'h1',
                'surface',
                'bold',
                'h2'
            ).__title Частые вопросы
            +Collapse(
                'title',
                'fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text '
            ).__item
            +Collapse(
                'title',
                'fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text '
            ).__item
            +Collapse(
                'title',
                'fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text '
            ).__item
            +Collapse(
                'title',
                'fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text '
            ).__item
            +Collapse(
                'title',
                'fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text fish text '
            ).__item
