$tags: (
    h1: (toRem(25), toRem(40), toRem(48), (toRem(30), toRem(48), toRem(58))),
    h2: (toRem(20), toRem(30), toRem(30), (toRem(24), toRem(36), toRem(36))),
    p1: (toRem(16), toRem(22), toRem(24), (toRem(19), toRem(32), toRem(32))),
    p2: (toRem(16), toRem(20), toRem(20), (toRem(19), toRem(24), toRem(24))),
);
